*{
    margin: 0px;

}
body{
    background-color: yellow;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.con{
    width: 1000px;
    height: 600px;
    background-color: white;
   justify-content: center;
    align-self: center;
    margin-left: 15%;
}
.img{
    display: flex; 
    
}
.img{
     display: flex;
    align-items: space-between;
   
}
.M{
    width: 100px;
    height: 100px;
}
.p1{
    padding-top: 40px;
     padding-left: 100px; 
    font-size: 20px;
}
.p2{
    padding-top: 40px;
     padding-left: 100px; 
    font-size: 20px;
}
.p3{
    padding-top: 100px;
    padding-left: 100px; 
    font-size: 20px;
}
.K{
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top:100px ;
    margin-left: 400px;
    background-color: rgb(10, 7, 167);
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding-top: 3px;
}
.P{
    width: 100px;
    height: 80px;
    margin-top: 15px;
     margin-left: 15px; 
   border-radius: 15px;
}
